@Html.Partial("Title")

<div id="lstData" class="row">
    <div class="col-sm-12 col-md-12">
        <div class="widget box">
            <div class="widget-content">
                <form id="User_password_form" class="form-horizontal row-border">
                    <input type="hidden" id="UserID" name="UserID" value="@ViewBag.UserID" />
                    <div class="form-group">
                        <label class="col-sm-4 col-md-2 control-label">用户登陆账号<span class="required">*</span></label>
                        <div class="col-sm-6 col-md-8">
                            <label class="control-label">@ViewBag.UserNO</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-2 control-label">新密码<span class="required">*</span></label>
                        <div class="col-sm-6 col-md-8">
                            <input type="password" id="txtPasswd" name="txtPasswd" value="@ViewBag.UserName" class="form-control required" placeholder="请输入密码" data-msg-required="请输入密码" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-2 control-label">确认密码<span class="required">*</span></label>
                        <div class="col-sm-6 col-md-8">
                            <input type="password" id="txtRePasswd" name="txtRePasswd" value="@ViewBag.MobilePhone" maxlength="11" class="form-control required" placeholder="请重新输入密码" data-msg-required="请重新输入密码" />
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" id="btnSave" class="btn btn-primary pull-right">保存</button>
                    </div>
                </form>
            </div>
            <div class="alert fade in alert-danger" style="display: none;"></div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#btnSave").click(function () {
            if ($("#User_password_form").valid()) {
                if ($("#txtPasswd").val() != $("#txtRePasswd").val()) {
                    cap_alert(unescape('两次密码不一致'));
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePassWord001", "Manager")",
                    async: false,
                    dataType: "json",
                    data: {
                        "UserID": $("#UserID").val(),
                        "PassWD": $("#txtPasswd").val()
                    },
                    beforeSend: function () { $("#divload").show(); },
                    complete: function () { $("#divload").hide(); },
                    success: function (data) {
                        if (data.msg == "OK") {
                            alert('修改成功')
                        }
                        else {
                            cap_alert(unescape(data.error_desc));
                        }
                    }
                });
            }
        });
    });
</script>